@charset "UTF-8";
/* CSS document */

body {
	background-image: url("gingham.jpg");
	background-repeat: repeat;
	padding-top: 1%;
}
#wrapper {
	background-color: #f5f6f1; 
	width: 80%;
	margin-left: auto;
	margin-right: auto;
    color: #330000;
	padding: 0.3%;
    border-radius: 15px;
    border: 1px solid #000;
}
header {
	background: #d1c0a8;
	margin-bottom: 0.5%;
	border-radius: 10px;
	background-size: cover;
	justify-content: center;
	display: flex;
	overflow: hidden;
}
#demo {
	display: flex;
    flex-direction: row;
}
#logo-container {
	width: 100%;
	height: auto;
}
aside {
	padding-right: 2%;
	padding-top: 0.5%;
	padding-bottom: 1%;
	flex: 2;
}
nav {
	background: #8da47e;
	padding: 1%;
	border-radius: 10px;
	flex:1;
}
main {
	padding:0% 1.5% 1% 2%;
	flex: 7;
}
p {
	line-height: 2em;
	font-size: 130%;
	font-family: candara;
}
main p {
	margin-right: 35%;
	margin-left: 1%;
	color: #4c3228;
	width: 47%;
}
main h2 {
	font-size: 2.2em;
	font-family: arial;
	color: #cb4c4e;
	padding: 1em 1em 1em 0.5em;
	margin: 0;
	text-transform:uppercase;

}
.h2 {
	margin-right: 51%;
	padding-left: 1%;
	border-bottom: 4px dashed #e1d5c9;

}
footer {
	display: flex;
	justify-content: center;
	padding:1%;
	background: #e1d5c9;
	font-size: 0.8em;
    font-style: italic;
    clear: right;
    border-radius: 10px;
}
nav ul {
	text-align: center;
	list-style-type:none;
}
nav li {
	display: inline;
	margin:0 1% 0 1%;
	font-size: 1.4em;
}
nav a:link, nav a:visited {
	font: bold 1em Arial, Helvetica, sans-serif;
	color: #ffffff;  
	text-decoration: none;
	padding: 0.5% 1%;
	text-transform:uppercase;
}
nav a:hover {
	color: #e6ccb2;
}
/*contact*/
.ch3 {
	list-style-type: none;
	font-weight: bold;
	text-transform: uppercase;
	font-family: arial;
	font-size: 1.3em;
	padding-top: 5px;
	padding-left: 5px;
}
.lip {
	list-style-type: none;
	margin-top: -7px;
}
#address, #phone, #gmail {
	list-style-type: none;
	color: #8b6c5c;
}
.address, .phone, .gmail {
	float: left;
	border: #000;
	padding-right: 15px;
}
@media only screen and (max-width: 1024px) {
            body { margin: 0; padding: 0; } 
            #wrapper { width: auto; margin: 0; }
		    h1 { font-size: 200%; }
			#demo { flex-direction: column;
            }
		    nav ul { display: flex;
                     flex-direction: row;
				     justify-content: center; 
			}
			nav li { padding: 0 0.5em; 
				     font-size: 1.2em;
			}	
}		
@media only screen and (max-width: 768px) {
         	nav ul {flex-direction: column;}   	
}
/*form*/
input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #d1c0a8;
  border-radius: 4px; 
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
}

input[type=submit] {
  background-color: #cb4c4e;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  text-transform: uppercase;
  float: right;
}

input[type=submit]:hover {
  background-color: #8da47e;
}
.container {
  border-radius: 8px;
  padding: 20px;
  width: 45%;
  float: right;
  padding-top: 3%;
}
.name, .email, .subject, .message {
	font-family: arial;
	text-transform: uppercase;
	font-size: 1em;
	color: #8b6c5c;
	font-weight: bold;

}
#name, #subject, #message, #email {
	font-family: candara;
	color: #8b6c5c;
	font-size: 1em;
}
.address, .gmail, .phone {
	border-radius: 10px;
	width: 70px;
	height: 70px;
	margin-left: -20px;
}